<ion-item  lines="none" *ngFor="let i of invoices" (click)="open()">
  <div class="icon">
    <ion-icon id="svg" src="../../../assets/SVG/House.svg"></ion-icon>
    <!-- <ion-icon name="home"></ion-icon> -->
  </div>
  <div class="address_2">
    <strong>
      <ion-label>16 UMNGAMANZI</ion-label>
      <ion-label>NSELENI A EXT. 01</ion-label>
      <ion-label>NSELENI</ion-label>
      <ion-label>PO Box 1405</ion-label>
    </strong>
  </div>
  <div class="balance">
    <div class="accountNo">
      <div class="key">
        <ion-label>Account No.</ion-label>
      </div>
      <div class="value">
        <ion-label>100005260938</ion-label>
      </div>
    </div>
    <div class="arrears">
      <div class="key">
        <ion-label>Arrears</ion-label>
        <ion-label>Account Balance</ion-label>
      </div>
      <div class="value">
        <ion-label>R1,234.87</ion-label>
        <ion-label>R9,893,487.00</ion-label>
      </div>
    </div>
  </div>
</ion-item>