
*ion-label {
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.address_2 {
    width: 35%;
}

.balance {
    width: 53%;
}

.arrears, .account-balance, .accountNo, .payment {
    display: inline-flex;
    width: 100%;
}

.account-balance > .key, .arrears > .key, .accountNo > .key {
    font-weight: bold;
    padding-right: 5px;
    text-align: end;
    justify-content: end;
    width: 50%;
}

.account-balance > .value, .arrears > .value, .accountNo > .value {
    width: 50%;
}

.icon {
    width: 7%;
    margin-right: 10px;
}

.accountNo {
    
    .key {
        text-align: left;
        justify-content: start;
    }

    .value {
        text-align: end;
        justify-content: end;
    }
}

.arrears {
    
    .key {
        text-align: left;
        justify-content: start;
        width: 6rem;
    }

    .value {
        text-align: end;
        justify-content: end;
    }
}



#svg {
    width: 1.5rem;
    height: 2rem;
}



