
.icon {
    // text-align: end;
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 9;
    ion-icon {
        background: #efebeb;
        color: rgb(143, 137, 137);
        width: 35px;
        height: 35px;
        // margin-right: 1rem;
    }
}

// .pdf {
//     position: absolute;
//     z-index: -1;
// }
