<div class="view-profile">
  <div class="view-form form">
    <ion-row size="12">
      <ion-col size="6" class="label">
        <ion-label>Firstname: </ion-label>
      </ion-col>
      <ion-col size="6" class="value">
        <ion-label>{{ profile.firstname }}</ion-label>
      </ion-col>
      <ion-col size="6" class="label">
        <ion-label>Lastname: </ion-label>
      </ion-col>
      <ion-col size="6" class="value">
        <ion-label>{{ profile.lastname }}</ion-label>
      </ion-col>
      <ion-col size="6" class="label">
        <ion-label>Email: </ion-label>
      </ion-col>
      <ion-col size="6" class="value">
        <ion-label>{{ profile.email }}</ion-label>
      </ion-col>
    </ion-row>
  </div>
</div>