<div class="view-profile">
  <div class="view-form form">
    <ion-row size="12">
      <ion-col size="3" class="label">
        <ion-label>Firstname: </ion-label>
      </ion-col>
      <ion-col size="9" class="value">
        <ion-label>Brad</ion-label>
      </ion-col>
      <ion-col size="3" class="label">
        <ion-label>Lastname: </ion-label>
      </ion-col>
      <ion-col size="9" class="value">
        <ion-label>Pitt</ion-label>
      </ion-col>
      <ion-col size="3" class="label">
        <ion-label>Email: </ion-label>
      </ion-col>
      <ion-col size="9" class="value">
        <ion-label>brad@pitt.com</ion-label>
      </ion-col>
    </ion-row>
  </div>
</div>