<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="create-password">
    <div class="form">
      <div class="label" *ngIf="oldPassword">
        <label for="oldPassword" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="oldPassword">
        <!-- <div *ngFor="let err of errorMessages.firstname">
          <ng-container *ngIf="firstname.errors?">
            <small>{{ err.message }}</small>
          </ng-container>
        </div> -->
      </div>
      <div class="label">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="newPassword">
        <!-- <div *ngFor="let err of errorMessages.firstname">
          <ng-container *ngIf="firstname.errors?">
            <small>{{ err.message }}</small>
          </ng-container>
        </div> -->
      </div>
      <div class="label">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword">
      </div>
      <div class="footer">
        <ion-button shape="round" expand="full" (click)="save()">Save</ion-button>
      </div>
    </div>
  </div>
</ion-content>
