<ion-header>
  <ion-toolbar>
    <ion-title>Create Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/password-recovery"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="create-password">
    <div class="form">
      <div class="label" *ngIf="oldPassword">
        <ion-input id="viewPassword" formControlName="password" type="password" placeholder="Password" required>
        </ion-input> 
        <!-- <div *ngFor="let err of errorMessages.firstname">
          <ng-container *ngIf="firstname.errors?">
            <small>{{ err.message }}</small>
          </ng-container>
        </div> -->
      </div>
      <div class="key">
        <div class="value">
          <ion-input id="viewPassword" type="password" placeholder="New Password" required>
          </ion-input> 
          <ion-input id="viewPassword" type="password" placeholder="Confirm Password" required>
          </ion-input>
        </div> 
        <!-- <div *ngFor="let err of errorMessages.firstname">
          <ng-container *ngIf="firstname.errors?">
            <small>{{ err.message }}</small>
          </ng-container>
        </div> -->
      </div>
      <div class="label">
      </div>
      <div class="footer">
        <ion-button shape="round" expand="full" (click)="save()">Save</ion-button>
      </div>
    </div>
  </div>
</ion-content>
