

#property-detail.details {
    width: 100%;
    display: inline-flex;
    margin-top: 2rem;
}

#property-detail.icon {
    width: 30%;
    height: inherit;
    position: relative;
    padding: 2rem;
    border-radius: 10px;
}

#property-detail.info {
    display: block;
    width: 70%;
    padding: 2rem;

    ion-label {
        width: 100%;
        display: block;
    }
}





