
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: inline;
    z-index: 1;
}

#property-detail.details {
    background: gray;
    width: 100%;
    display: inline-flex;
    margin-top: 2rem;
}

#property-detail.icon {
    width: 30%;
    height: inherit;
    position: relative;
    background: brown;
    padding: 2rem;
}

#property-detail.info {
    display: block;
    width: 70%;
    padding: 2rem;
    background: green;

    ion-label {
        width: 100%;
        display: block;
    }
}

#invoice.info {
    background: brown;
}




