<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <div class="header">
    <h2>Create an Account</h2>
  </div>
  <form class="signup">
    <div class="label">
      <label for="firstname" class="form-label floating">Firstname</label>
      <input type="text" class="form-control" id="firstname">
      <!-- <div *ngFor="let err of errorMessages.firstname">
        <ng-container *ngIf="firstname.errors?">
          <small>{{ err.message }}</small>
        </ng-container>
      </div> -->
    </div>
    <div class="label">
      <label for="lastname" class="form-label">Lastname</label>
      <input type="text" class="form-control" id="lastname">
      <!-- <div *ngFor="let err of errorMessages.firstname">
        <ng-container *ngIf="firstname.errors?">
          <small>{{ err.message }}</small>
        </ng-container>
      </div> -->
    </div>
    <div class="label">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email">
      <!-- <div *ngFor="let err of errorMessages.firstname">
        <ng-container *ngIf="firstname.errors?">
          <small>{{ err.message }}</small>
        </ng-container>
      </div> -->
    </div>
    <div class="label">
      <label for="idnumber" class="form-label">ID Number</label>
      <input type="number" maxlength="13" class="form-control" id="idnumber">
      <!-- <div *ngFor="let err of errorMessages.firstname">
        <ng-container *ngIf="firstname.errors?">
          <small>{{ err.message }}</small>
        </ng-container>
      </div> -->
    </div>
    <div class="label">
      <label for="password" class="form-label">Password</label>
      <input type="text" class="form-control" id="password">
      <!-- <div *ngFor="let err of errorMessages.firstname">
        <ng-container *ngIf="firstname.errors?">
          <small>{{ err.message }}</small>
        </ng-container>
      </div> -->
    </div>
    <div class="label">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="text" class="form-control" id="confirmPassword">
      <!-- <div *ngFor="let err of errorMessages.firstname">
        <ng-container *ngIf="firstname.errors?">
          <small>{{ err.message }}</small>
        </ng-container>
      </div> -->
    </div>
    <div class="submit">
      <div class="button">
        <ion-button shape="round" expand="full" type="submit">submit</ion-button>
      </div>
    </div>
  </form>
  <div class="login">
    <label>Already have an account? </label>
    <a [routerLink]="'/login'">Login</a>
  </div>
</div>
</ion-content>
