<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="form">
  <div class="header">
    <h2>Create an Account</h2>
  </div>
  <form class="signup form" [formGroup]="signupForm" (ngSubmit)="submit()" novalidate>
    <div class="label">
      <ion-label position="floating">First name</ion-label>
      <input type="text" class="form-control" formControlName="firstname" required>
      <div *ngFor="let err of errorMessages.firstname">
        <ng-container *ngIf="errorControl.firstname.errors?.required && errorControl.firstname.touched">
          <small class="text-danger">{{ err.message }}</small>
        </ng-container>
      </div>
    </div>
    <div class="label">
      <ion-label position="floating">Last name</ion-label>
      <input type="text" class="form-control" formControlName="lastname" required>
      <div *ngFor="let err of errorMessages.lastname">
        <ng-container *ngIf="errorControl.lastname.errors?.required && errorControl.lastname.touched">
          <small class="text-danger">{{ err.message }}</small>
        </ng-container>
      </div>
    </div>
    <div class="label">
      <ion-label position="floating">Email</ion-label>
      <input type="text" class="form-control" formControlName="email" required>
      <div *ngFor="let err of errorMessages.email">
        <ng-container *ngIf="errorControl.email.errors?.required && errorControl.email.touched">
          <small class="text-danger">{{ err.message }}</small>
        </ng-container>
      </div>
    </div>
    <div class="label">
      <ion-label position="floating">ID Number</ion-label>
      <input type="number" maxlength="13" class="form-control" formControlName="idnumber" required>
      <div *ngFor="let err of errorMessages.idnumber">
        <ng-container *ngIf="errorControl.idnumber.errors?.required && errorControl.idnumber.touched">
          <small class="text-danger">{{ err.message }}</small>
        </ng-container>
      </div>
    </div>
    <div class="label">
      <ion-label position="floating">Password</ion-label>
      <input type="password" class="form-control" formControlName="password" required>
      <div *ngFor="let err of errorMessages.password">
        <ng-container *ngIf="errorControl.password.errors?.required && errorControl.password.touched">
          <small class="text-danger">{{ err.message }}</small>
        </ng-container>
      </div>
    </div>
    <div class="label">
      <ion-label position="floating">Confirm Password</ion-label>
      <input type="password" class="form-control" formControlName="confirmPassword" required>
      <div *ngFor="let err of errorMessages.confirmPassword">
        <ng-container *ngIf="errorControl.confirmPassword.errors?.required && errorControl.confirmPassword.touched">
          <small class="text-danger">{{ err.message }}</small>
        </ng-container>
      </div>
    </div>
    <div class="submit footer">
      <div class="button">
        <ion-button shape="round" expand="full" type="submit" [disabled]="!signupForm.valid">Submit</ion-button>
      </div>
      <div class="login">
        <ion-label>Already have an account? </ion-label>
        <a [routerLink]="'/login'">
          <strong>Login</strong>
        </a>
      </div>
    </div>
  </form>
</div>
</ion-content>

