<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <small>Dashboard</small>
    </ion-tab-button>
    
    <ion-tab-button tab="balance">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <small>Balance</small>
    </ion-tab-button>
    
    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <small>Profile</small>
    </ion-tab-button>
    
    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <small>Settings</small>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>
