<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="newspaper"></ion-icon>
      <small>Dashboard</small>
    </ion-tab-button>
    
    <ion-tab-button tab="balance">
      <ion-icon name="card"></ion-icon>
      <small>Balance</small>
    </ion-tab-button>
    
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <small>Profile</small>
    </ion-tab-button>
    
    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <small>Settings</small>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>
