<div class="invoice">
  <ion-item  lines="none">
    <div class="icon">
      <ion-img id="svg" src="../../assets/SVG/house icon.svg"></ion-img>
      <!-- <ion-icon name="home"></ion-icon> -->
    </div>
    <div class="address_2">
      <strong>
        <ion-label>16 UMNGAMANZI</ion-label>
        <ion-label>NSELENI A EXT. 01</ion-label>
        <ion-label>NSELENI</ion-label>
        <ion-label>PO Box 1405</ion-label>
      </strong>
    </div>
    <div class="balance">
      <div class="accountNo">
        <div class="key">
          <ion-label>Account No.</ion-label>
        </div>
        <div class="value">
          <ion-label>100005260938</ion-label>
        </div>
      </div>
      <div class="arrears">
        <div class="key">
          <ion-label>Arrears</ion-label>
          <ion-label>Account Balance</ion-label>
        </div>
        <div class="value">
          <ion-label>R1,234.87</ion-label>
          <ion-label>R9,893,487.00</ion-label>
        </div>
      </div>
    </div>
  </ion-item>
  <div class="row">
    <ion-label class="col-3 invoice_heading">Payments</ion-label>
    <ion-label class="col-9 invoice_heading">Invoices</ion-label>
  </div>
  <ion-item lines="none" *ngFor="let i of invoices">
    <ion-row class="row">
      <ion-col id="invoice" size="1" class="icon">
        <ion-img id="svg" src="../../../assets/SVG/invoice icon.svg"></ion-img>
      </ion-col>
      <ion-col size="2" id="invoiceDate" class="key">
        <ion-label><strong>Date:</strong></ion-label>
        <ion-label><strong>Payment:</strong></ion-label>
      </ion-col>
      <ion-col size="3" id="invoiceDate" class="value">
        <ion-label>{{ i.date }}</ion-label>
        <ion-label>{{ i.payment }}</ion-label>
      </ion-col>
      <ion-col size="2" id="amount" class="key">
        <ion-label class="empty">amount</ion-label>
        <ion-label><strong>Amount</strong></ion-label>
      </ion-col>
      <ion-col size="4" id="amount" class="value">
        <ion-label class="empty">amount</ion-label>
        <ion-label type="number">{{ i.amount | currency: 'R' }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-item>
</div>