<ion-header>
  <ion-toolbar>
    <ion-title>Balance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="make-payment">
    <div class="card">
      <ion-img src="../../../assets/SVG/card.svg">
      </ion-img>
      <ion-row size="12" class="card-details">
        <ion-col size="10">
          <ion-label>Card Name</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-img class="card-icon" src="../../assets/SVG/mastercard.svg">
          </ion-img>
        </ion-col>
        <ion-col size="12">
          <h1 class="card-number">1234 5678 8910 73635</h1>
        </ion-col>
        <ion-col size="4">
          <ion-label>Card holder</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>Expires</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>CVV</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>Some User</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>12/24</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>123</ion-label>
        </ion-col>
      </ion-row>
    </div>
    <div class="footer">
      <ion-button expand="full" shape="round" (click)="makePayment()">Make Payment</ion-button>
    </div>
  </div>
</ion-content>
