<ion-header>
  <ion-toolbar>
    <ion-title>Welcome Customer</ion-title>
    <!-- <ion-nav [component]="component"></ion-nav> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="login" [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="d-flex justify-content-center">
      <img class="logo" src="../../../assets/images/Municipality.png" />
    </div>
    <div class="container-fluid credentials">
      <div class="email">
        <ion-label class="form-label">ID Number/Org Ref</ion-label>
        <input formControlName="email" class="form-control" type="text" required/>
      </div>
      <ng-container *ngIf="errorControl.email.errors?.required && errorControl.email.touched">
        <small class="text-danger">ID Number or Org Ref is required</small>
      </ng-container>
      <div class="password">
        <ion-label class="form-label">Password</ion-label>
        <input formControlName="password" class="form-control" type="password" required/>
      </div>
      <ng-container *ngIf="errorControl.password.errors?.required && errorControl.password.touched">
        <small class="text-danger">Password is required</small>
      </ng-container>
      <div class="passwordRecovery" (click)="forgotPassword()">
        <a href="/password-recovery">Forgot Password?</a>
      </div>
      <div class="submit">
        <ion-button type="submit" expand="full" shape="round" [disabled]="!loginForm.valid">Login</ion-button>
        <div class="signup">
          <label>Don't have an account? </label>
          <a [routerLink]="'/signup'">
            <strong>Sign Up</strong>
          </a>
        </div>
      </div>
    </div>
  </form>
</ion-content>


