// .login {
//     margin: 20px;
// }

ion-toolbar {
    text-align: center;
}

.welcome {
    text-align: center;
    label {
        margin: 2rem,0,2rem,0;
        font-weight: bolder;
    }
}

.logo {
    width: 10rem;
    height: 10rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

ion-button {
// color: #131c6c;
}

.passwordRecovery {
padding: 10px,0,10px,0;
}

