
@font-face {
    font-family: 'Trajana';
    src: url('../assets/fonts/Trajana\ Sans.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Trajana_Bold';
    src: url('../assets/fonts/Trajana\ Sans\ Bold.ttf');
    font-weight: 400;
}
