
<ion-item lines="none" *ngFor="let c of cards">
  <ion-row class="row">
    <ion-col id="invoice" size="2" class="icon">
      <ion-img id="svg" src="../../../assets/SVG/credit card icon.svg"></ion-img>
    </ion-col>
    <ion-col size="8" id="credit_card" class="card_details">
      <ion-icon *ngIf="c.default" id="icon" class="selected" src="../../../assets/SVG/payment-approved-icon.svg"></ion-icon>
      <ion-label>{{ c.type }}</ion-label>
      <ion-label>{{ c.holder }}</ion-label>
      <ion-label>{{ c.cardNumber }}</ion-label>
    </ion-col>
    <ion-col size="2">
      <ion-icon id="icon" class="delete" src="../../../assets/SVG/trash-icon.svg"></ion-icon>
    </ion-col>
  </ion-row>
</ion-item>