
<ion-item lines="none" *ngFor="let c of cards" class="card">
  <div id="invoice" class="icon">
    <ion-icon id="svg" src="../../../assets/SVG/card details.svg"></ion-icon>
  </div>
  <div id="credit_card" class="card_details">
    <ion-label>{{ c.type }}</ion-label>
    <ion-label>{{ c.holder }}</ion-label>
    <ion-label>{{ c.cardNumber }}</ion-label>
  </div>
  <div class="expiry">
    <!-- <ion-icon id="icon" class="delete" src="../../../assets/SVG/trash-icon.svg"></ion-icon> -->
    <ion-label class="empty">Expiry 03/04</ion-label>
    <ion-label class="empty">Expiry 03/04</ion-label>
    <ion-label>Expiry 03/04</ion-label>
  </div>
</ion-item>