

*ion-label {
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card_details {
    text-align: left;
    width: 80%;
    margin-left: 10px;
    ion-label {
        display: block;
        font-weight: bold;
        width: 198px;
    }
}

ion-icon.selected {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 4.5rem;
    margin-bottom: 2rem;
}

ion-icon.delete {
    width: 2rem;
    height: 2rem;
}

.icon {
    width: 30px;
    ion-icon {
        width: 28px;
        height: 28px;
        margin: 0 20px 20px 0;
    }
}

.expiry {
    display: block;
    width: 78px;
    ion-label {
        font-size: 10px;
        font-weight: bold;
    }

    ion-label.empty {
        color: white;
    }
}

.card {
    width: 90%S;
    height: 66px;
    margin: 10px 25px 10px;
}   


