
<ion-content>
  <form class="login" [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="d-flex justify-content-center">
      <img class="logo" src="../../../assets/logo.png" />
    </div>
    <div class="container-fluid credentials">
      <div class="email">
        <ion-input formControlName="email" type="text" placeholder="ID Number/Account Number" required></ion-input>
      </div>
      <ng-container *ngIf="errorControl.email.errors?.required && errorControl.email.touched">
        <small class="text-danger">ID Number or Account Number is required</small>
      </ng-container>
      <div class="password">
        <ion-input formControlName="password" type="text" placeholder="Password" required>
          <ion-icon class="showPassword" name="eye-sharp"></ion-icon>
        </ion-input>
      </div>
      <ng-container *ngIf="errorControl.password.errors?.required && errorControl.password.touched">
        <small class="text-danger">Password is required</small>
      </ng-container>
      <!-- <div class="passwordRecovery" (click)="forgotPassword()">
        <a href="/password-recovery">Forgot Password?</a>
      </div> -->
      <div class="submit">
        <ion-button type="submit" shape="round" [disabled]="!loginForm.valid">Login</ion-button>
        <!-- <div class="signup">
          <label>Don't have an account? </label>
          <a [routerLink]="'/signup'">
            <strong>Sign Up</strong>
          </a>
        </div> -->
      </div>
    </div>
  </form>
</ion-content>
