<ion-header *ngIf="!ss">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="login" [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="d-flex justify-content-center">
      <img class="logo" src="../../../assets/logo.png" />
    </div>
    <div class="container-fluid credentials">
      <div class="email">
        <ion-input formControlName="email" type="text" placeholder="ID Number/Account Number" required></ion-input>
      </div>
      <ng-container *ngIf="errorControl.email.errors?.required && errorControl.email.touched">
        <small class="text-danger">ID Number or Account Number is required</small>
      </ng-container>
      <div class="password">
        <ion-input id="viewPassword" formControlName="password" type="password" placeholder="Password" required>
        </ion-input> 
        <div class="showPassword" (click)="viewPassword();$event.stopPropagation();">
          <ion-icon name="eye-sharp"></ion-icon>
        </div>
      </div>
      <ng-container *ngIf="errorControl.password.errors?.required && errorControl.password.touched">
        <small class="text-danger">Password is required</small>
      </ng-container>
      <div class="passwordRecovery" (click)="forgotPassword()">
        <a>Forgot Password?</a>
      </div>
      <div class="submit">
        <ion-button type="submit" shape="round">Login</ion-button>
      </div>
      <ng-container *ngIf="!submitError" style="text-align: center;">
        <small class="text-danger">Please enter all your credentials</small>
      </ng-container>
    </div>
  </form>

  <div class="ss" *ngIf="ss">
    <ion-img class="splash" src="../../../assets/logo.png"></ion-img>
    <div class="loader">
      <div class="spinner">
        <ion-spinner name="lines"></ion-spinner>
      </div>
      <div class="label">
        <ion-label>Loading</ion-label>
      </div>
    </div>
  </div>
</ion-content>
