.logo {
    margin: 2rem 7rem 2rem 7rem;
}

.balance-block {
    width: 6rem;
    display: inline-block;
    text-align: center;

    .label > ion-label {
        font-weight: bold;
    }
}

.balance-overview {
    margin: 2rem 2rem 2rem 2rem;
    border: 1px solid;
    text-align: center;
    border-radius: 10px;
    padding: 2rem 0 2rem;
}

ion-icon {
    margin-right: 3px;
}

.icon {
    // width: 20%;
    // height: 80%;
}

#property.icon {
    width: 20%;
    height: inherit;
    margin-left: 10px;
}

#property.arrow {
    padding: 8% 0 8%;
}

.property {
    display: inline-flex;
    border: 1px solid;
    border-radius: 10px;
}

.property > .details {
    width: 70%;
    display: block;
    padding: 3px 1rem 3px;

    ion-label {
        width: 100%;
        display: list-item;
    }
}

.property-list {
    margin-bottom: 5rem;
}

