<ion-header>
  <ion-toolbar>
    <ion-title>password-recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="password-recovery">
    <div class="form">
      <div class="header">
        <h1>Please enter you email address</h1>
      </div>
      <div class="label">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email">
      </div>
      <div class="footer">
        <ion-button shape="round" expand="full" (click)="send()">Send Email</ion-button>
      </div>
    </div>
  </div>
</ion-content>
