<ion-header>
  <ion-toolbar>
    <ion-title>Password Reset</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="password-recovery">
    <div class="form">
      <div class="d-flex justify-content-center">
        <img class="logo" src="../../../assets/logo.png" />
      </div>
      <div class="label">
        <ion-label>Don’t worry if you forgot your password. Simply enter your e-mail address and ID Number/Organisation, we’ll send you instructions to reset your password.</ion-label>
      </div>
      <div class="label">
        <!-- <label for="email" class="form-label">Email</label> -->
        <input type="text" class="form-control" id="email" placeholder="Enter your email here">
      </div>
      <div class="label">
        <!-- <label for="email" class="form-label">Email</label> -->
        <input type="text" class="form-control" id="idnumber_org" placeholder="Enter your ID Number/Org here">
      </div>
      <div class="reset">
        <ion-button shape="round" expand="full" (click)="send()">Reset Password</ion-button>
      </div>
    </div>
  </div>
</ion-content>
