ion-toolbar {
    --background: #FFFFFF;
    
    svg.menu {
        margin-left: 10px;
    }
    ion-label {
        font-size: 17px;
        margin-left: 20px;
    }
}

.home {
    padding: 0;
    background: #F1F1F1;
    height: 100%;
    padding: 10px;
}


.header {
    margin: 42px 5px 15px;
    ion-item {
        border-bottom: 0;
    }
}

div.partnerHeader {
    background: #FFFFFF;
    border-radius: 7px 7px 0 0;
    // height: 117px;
}

div.updatedDate {
    padding-top: 10px;
    background: #FFFFFF;
    border-bottom: #F1F1F1 2px solid;
    padding-bottom: 5px;
}

div.partnerDetails {
    display: inline-flex;
    background: #FFFFFF;
    width: 100%;
    height: 63px;
    
    .block {
        display: inline-flex;
        width: 205px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    div.address {
        text-align: start;
        width: 205px;
        display: inline-flex;
        padding-inline-end: 0;
        padding-top: 0;
        
        .address_label {
            display: inline-flex;
            width: 100px;
            justify-content: right;
            
            ion-label {
                display: block;
            }
        }
        
        .address-value {
            text-align: right;
            width: 65%;
            padding-bottom: 10px;
            margin-top: -5px;
            
            ion-label {
                display: block;
                width: 100%;
            }
        }
    }
}

ion-item {
    --background: #FFFFFF;
    --inner-padding-bottom: 0;
    --inner-padding-end: 5px;
    --inner-padding-start: 0;
    --inner-padding-top: 0;
}

.collapse_partnerDetails {
    text-align: center;
    justify-content: center;
    background: #FFFFFF;
    margin: 0 0 10px;
    border-radius: 0 0 7px 7px;
    margin-bottom: 10px;
    height: 24px;
    
}

*ion-item.bottom-border {
    border-bottom: 2px solid;
}


*ion-label {
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.customer-name {
    width: 50%;
    display: inline;
    ion-label {
        font-size: 12px;
        font-weight: bold;
    }
}

div.currentDateTime {
    text-align: end;
    justify-content: end;
    width: 400px;
    margin-left: 85px;
    display: inline;
}

.logo {
    width: 46px;
    height: 45px;
}

.block, .address, .address-value {
    padding-top: 8px;
    padding-bottom: 1px;
}

.block.details {
    width: 50px;
    height: 100%;
    display: inline-flex;
    
    .keys {
        width: 65px;
        ion-label {
            display: block;
        }
    }
    
    .values {
        width: 55%;
        display: block;
        
        ion-label {
            display: block;
            text-align: start;
        }
    }
}

ion-row {
    width: 50%;
    height: 100%;
    justify-content: left;
    text-align: end;
    
    .keys {
        width: 70px;
        height: 20px;
        
        ion-label {
            display: block;
        }
    }
    
    .values {
        width: 170px;
        display: block;
        
        ion-label {
            display: block;
            text-align: start;
        }
    }
}

.block.address {
    width: 40%;
    height: 100%;
    justify-content: left;
    text-align: end;
    
    .keys {
        width: 70px;
        height: 20px;
        
        ion-label {
            display: block;
        }
    }
    
    .values {
        width: 170px;
        display: block;
        
        ion-label {
            display: block;
            text-align: start;
        }
    }
}

.keys {
    font-weight: bold;
}

.address_2 {
    width: 35%;
}

.balance {
    width: 53%;
}

.arrears, .account-balance, .accountNo, .payment {
    display: inline-flex;
    width: 100%;
}

.account-balance > .key, .arrears > .key, .accountNo > .key {
    font-weight: bold;
    padding-right: 5px;
    text-align: end;
    justify-content: end;
    width: 50%;
}

.account-balance > .value, .arrears > .value, .accountNo > .value {
    width: 50%;
}

.icon {
    width: 7%;
}

ion-item > .row {
    width: 100%;
    
}

ion-icon.menu-item {
    width: 2rem;
    height: 2rem;
}

.notice {
    text-align: center;
    small {
        display: block;
        font-size: 12px;
    }
}

ion-footer {
    background: #F1F1F1;
}

.payment {
    .key {
        font-weight: bold;
        padding-right: 14px;
        text-align: end;
        justify-content: end;
        width: 50%;
        
        ion-label {
            font-size: 14px;
        }
    }
}

.accountNo {
    
    .key {
        text-align: left;
        justify-content: start;
    }
    
    .value {
        text-align: end;
        justify-content: end;
    }
}

.arrears {
    
    .key {
        text-align: left;
        justify-content: start;
        width: 6rem;
    }
    
    .value {
        text-align: end;
        justify-content: end;
    }
}

svg.success {
    width: 22px;
    height: 22px;
    margin: 0 8px 0 0px;
    color: rgb(93, 217, 93);
}

ion-col.homeIcon {
    text-align: center;
}

ion-col.cardIcon {
    padding-bottom: 2rem;
    height: 2.5rem;
}

ion-col.pay {
    padding-right: 2rem;
    padding-top: 0.5rem;
}

ion-col.paygate {
    height: 2rem;
    div.paygateIcon {
        position: absolute;
        top: -1.8rem;
        left: -2rem;
        
        svg.lockIcon {
            position: absolute;
            bottom: 2.8rem;
            right: 0.3rem;
        }
    }
}


.display_invoice {
    position: absolute;
    top: 26%;
    left: 0;
    width: 100%;
    height: 40rem;
    z-index: -1;
    overflow-y: scroll;
}

div.row {
    // border-top: 2px solid;
    height: 5rem;
    
    ion-row {
        width: 100%;
    }
}


//payment
.card_details {
    text-align: left;
    ion-label {
        display: block;
        font-weight: bold;
        width: 8rem;
    }
}

.amount_payable {
    text-align: center;
    ion-label.empty {
        color: white;
        display: block;
    }
    
    ion-label {
        display: block;
        color: black;
        font-weight: bold;
        text-decoration: underline;
    }
}

ion-label.add_card {
    font-size: 18px;
    font-weight: bold;
}

ion-icon.add_card {
    width: 2rem;
    height: 1.7rem;
}

.paygateIcon {
    ion-icon {
        width: 9rem;
        height: 2rem;
        background: orange;
    }
}

ion-img#paygateIcon {
    width: 4rem;
    height: 2rem;
}

ion-icon#payment {
    margin-top: 1.7rem;
    margin-right: 6rem;
    margin-left: -1rem;
}

div.paygate {
    height: 3rem;
    width: 100%;
    padding-right: 2rem;
}

ion-row.paygate {
    width: 100%;
}

#updated_date {
    height: 2rem;
    ion-label {
        margin-top: -0.5rem;
        margin-right: 0.5rem;
        margin-bottom: -0.1rem;
    }
}

#header_label {
    height: 2.5rem;
    ion-label {
        color: #505050;
        // margin-top: 0;
        // margin-top: 1rem;
        font-size: 15px;
        font-weight: bold;
        margin: 0 135px 0 100px;
    }
    
    ion-icon {
        margin-top: 0.5rem;
    }
}

.border_bottom {
    margin: 0 22px 0;
    width: 90%;
    border-bottom: 2px solid #707070;
}

//Add Card
.add_card_page {
    text-align: right;
    // margin: 0 1.5rem 1rem 0;
    height: 85px;
    width: 100%;
    display: inline-flex;
    .scan_add_card {
        width: 50%;
        text-align: left;
        margin: 40px 0 0 25px;
    }
    .paygate_add_card {
        // text-align: right;
        width: 50%;
        margin-top: 5px;
        padding: 0 30px 0 55px;
        
        svg.lockIcon {
            position: absolute;
            bottom: 75px;
            right: 30px;
        }
    }
}


